*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$color-primary: #ee710b;
$color-secondary:#fad400;
$color-grey-dark: #777;
html {
  font-size: 62.5%
}

body {
  box-sizing: border-box;
}