@import "../abstracts/variables";

 .previous, 
 .previous-color, 
 .next, 
 .next-color {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $color-white;
    font-weight: bold;
    font-size: 70px;
    user-select: none; 
    text-decoration: none;
  }
  
  .next {
      right: 3rem;
  }

  .next-color {
    right: 3rem;
    color: $color-primary;
  }

  .previous-color {
    color: $color-primary;
  }