@import "../abstracts/variables";

main {
    background-image: linear-gradient(to right bottom,
    rgba($color-primary, 0.911), 
    rgba($color-secondary, 0.877)), 
}

.section-about {
    height: auto;
    background-color: $color-grey-light-1;
    padding: 10rem 0;
}